<h1>
  undo visualiser
</h1>
<div>
  <div>
    <label for="transaction">Others transaction: </label>
    <input type="text" name="transaction" [(ngModel)]="transaction" (keyup.enter)="addTransaction()">
  </div>
  <div>
    <label for="ownTransaction">Add own transaction: </label>
    <input type="text" name="ownTransaction" [(ngModel)]="ownTransaction" (keyup.enter)="addOwnTransaction()">
  </div>
  <br>
  <div>
    <button [disabled]="ownTransactions.length < 1" (click)="addUndo()">🠔 undo</button>
    <button [disabled]="undoQueue.length < 1" (click)="addRedo()">redo 🠖</button>
  </div>
  <br>
  <div>
    snapshot: {{ snapshot | json }}
  </div>
  <div>
    transaction queue: {{ transactionQueue | json }}
  </div>
  <div>
    undo queue: {{ undoQueue | json }}
  </div>
  <div>
    redo queue: {{ redoQueue | json }}
  </div>
</div>